*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.block {
    display: block;
}

.red {
    color: hsl(0, 100%, 67%);
}

.yellow {
    color: hsl(39, 100%, 56%);
}

.green {
    color: hsl(166, 100%, 37%);
}

.blue {
    color: hsl(234, 85%, 45%);
}

.pale {
    color: hsl(0, 0%, 70%);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Hanken Grotesk', sans-serif;
    width: 100vw;
    height: 100vh;
}

.result {
    width: 315px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0 1rem;
}

.result h4 {
    padding: 1rem 0;
    color: hsl(241, 100%, 89%);
    letter-spacing: 1px;
}

.score {
    width: 125px;
    height: 125px;
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0)
    );
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score h1{
    font-size: 50px;
}

.score span {
    font-size: 12px;
    color: hsl(241, 77%, 76%);
}

.result p {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding-top: 0;
    letter-spacing: 1px;
    padding: 1rem 0;
}

p span {
    font-weight: 600;
    font-size: 14px;
   color: hsl(241, 77%, 76%);
   letter-spacing: normal;
   padding-top: 1rem;
}

.summary {
    width: 300px;
    height: 350px;
    padding: 1rem 1.5rem;
}

.summary h2 {
    color: hsl(224, 30%, 27%);
    font-size: 16px;
    font-weight: 900;
    padding: 8px 0;
}

.summary ul {
    list-style-type: none;
}

.summary ul li {
    width: 100%;
    padding: 12px 0;
    border: 1px solid black;
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
}

.element {
    padding-left: 14px;
}

.text {
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    padding-left: 10px;
}

.marks {
    font-size: 14px;
    padding-right: 10px;
    font-weight: 700;
}

#red {
    background-color: hsl(0, 100%, 97%);
    border-radius: 6px;
    border: none;
}
#yellow {
    background-color: hsl(39, 100%, 97%);
    border-radius: 6px;
    border: none;
}
#green {
    background-color: hsl(166, 100%, 97%);
    border-radius: 6px;
    border: none;
}
#blue {
    background-color: hsl(234, 85%, 97%);
    border-radius: 6px;
    border: none;
}

#continue {
    width: 100%;
    padding: 15px 0 14px;
    margin-top: 8px;
    border-radius: 50px;
    border: none;
    background-color: hsl(224, 30%, 27%);
    color: rgba(255, 255, 255, 0.836);
    font-size: 14px;
    font-weight: 550;
}

#continue:is(:hover, :active) {
    cursor: pointer;
    background-color: hsl(241, 81%, 54%);
}

@media only screen and (min-width:768px) {
    body{
        width: 100%;
        max-width: unset;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .result{
        height: 420px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .result p {
        padding-top: 1rem;
    }

    .score{
        width: 180px;
        height: 180px;
        padding: 2rem;
    }

    .summary {
        height: 420px;
        padding-top: 2rem;
        background-color: white;
        box-shadow: 8px 8px 15px rgb(202, 194, 194);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    }

}


